html, body{
    margin: 0;
    background: #eee;
}

.menu{
    position: fixed;
    top: 0;
    left: 0;
    background: #000;
    color: #fff;
    height: 50px;
    width: 100%;
}

.menu a{
    color: inherit;
    line-height: 50px;
    font-size: 20px;
    margin: 0 10px;
    transition: color 0.4s;
}

.menu .menu__link-active{
    color: #ff0;
}

.content{
   margin-top: 70px;
}

.scroll-to-top{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    color: white;
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, 0.5);
    bottom: 10px;
    right: 10px;
    //display: none;
}